@import "parent.css";

.hidden {
    opacity: 0;
}

/* STRUCTURE CLASSES*/
.main-site {
    padding: 50px 10% 16px;
}

.center {
    margin-bottom: 25px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

/* ROW 1 */
.row1 {
    z-index: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.back:hover > .back-text {
    opacity: 0.8;
    transition: 0.2s;
}

.back:hover > .arrow {
    transform: translateX(10px);
    transition: 0.2s;
}

.text {
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: white;
    opacity: 1;
}

/* ROW 2 */
.row2 {
    z-index: 1;
    justify-content: center;
    padding-bottom: 150px;
}

.world {
    width: 100%;
    filter: contrast(1.5);
}
