@import "parent.css";

/* STRUCTURE CLASSES*/
.main-site {
    padding: 25px 10% 0px;
}

.center {
    margin-bottom: 25px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.expandable {
    height: 500px;
}

.expanded {
    height: 1500px;
}

.collapsable-width {
    width: 100%;
    transition: 0.2s;
}

.collapsable-height {
    height: 500px;
    transition: 0.3s;
}

.collapsed-width {
    width: 0%;
}

.collapsed-height {
    height: 120px;
}

.gap {
    column-gap: 25px;
    transition: 0.2s;
}

.no-gap {
    column-gap: 0px;
}

.hidden {
    display: none;
}

.hidden2 {
    display: none;
}

.show {
    display: flex;
}

.y {
    color: yellow;
}

/* ROW 1 */
.row1 {
    z-index: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.back:hover > .back-text {
    opacity: 0.8;
    transition: 0.2s;
}

.back:hover > .arrow {
    transform: translateX(10px);
    transition: 0.2s;
}

.text {
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: white;
    opacity: 1;
}

/* ROW 2 */
.row2 {
    z-index: 1;
    border-radius: 18px;
    display: flex;
    flex-flow: row;
    height: max-content;
    width: 100%;
}

.box2-child {
    z-index: 2;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 15px;
}

.box2-child-content {
    border-radius: 18px;
    position: relative;
}

.box2-child-img-left {
    position:relative;
    overflow: hidden;
    background-image: url(../images/courses.jpg);
    height: 100%;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
}

.box2-child-img-right {
    position: relative;
    overflow: hidden;
    background-image: url(../images/projects.png);
    height: 100%;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
}

.box2-child-overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    transition: opacity 0.25s;
}

.box2-child-overlay:hover {
    opacity: 0.4;
}

.box2-child-overlay-hidden:hover {
    opacity: 0.7;
}

.box2-text {
    z-index: 3;
    
    font-family: Montserrat-Bold;
    color: white;
    font-size: 30px;

    position:absolute;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    opacity: 1;

    transition: 0.2s;
}

.box2-text-expanded {
    color: black;
    background-color: yellow;
}

.box2-course {
    z-index: 2;
    background-color: black;
    border-radius: 18px;

    height: 200px;
    width: 100%;
}

.box2-project {
    z-index: 2;
    background-color: black;
    border-radius: 18px;

    width: 100%;
}

.paragraph {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.paragraph-title {
    font-family: Montserrat-Bold;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.paragraph-content {
    font-family: Montserrat-Regular;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.course-img-container {
    position:relative;
    overflow: hidden;
    height: 100%;
    width: 120%;
    background-size: cover;
}


/* FOOTER */

.footer {
    font-family: Montserrat-Regular;
    color: #666666;
    margin-bottom: 25px;
    position: static;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}