body {
    background: #191919;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}



/* GENERAL CLASSES */
@font-face {
    font-family: Montserrat-Regular;
    src: url(../font/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../font/Montserrat-Bold.otf);
}

.expandable {
    width: 40%;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}
  
.expanded {
    width: 120%;
}

.hidden {
    opacity: 0;
    transition: 0.1s;
}

.show {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.2s;
}

.text {
    font-family: Montserrat-Bold;
    color: white;
}

.text-black {
    font-family: Montserrat-Bold;
    color: black;
}

.text-grey {
    font-family: Montserrat-Bold;
    color: #666666;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    flex-shrink: 0;
    min-height: 100%
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.cross-hidden {
    z-index: 2;
    position: absolute;
    width: 20px;
    top: 28px;
    right: 30px;
    opacity: 0;
    transition: 0.1s;
}

.cross-show {
    opacity: 1;
    transition: 0.5s;
}

.cross-hidden-right {
    position: absolute;
    width: 20px;
    top: 28px;
    left: 30px;
    opacity: 0;
    transition: 0.1s;
}

.cross-show {
    opacity: 1;
    transition: 0.5s;
}

.expandable-3 {
    width: 50%;
    transition: 0.2s;
}

.expanded-3 {
    width: 104%;
}

.more-info {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    gap: 15px;
}

a:link {
    text-decoration: none;
}


/* LOADER */
.loader-container {
    z-index: 3;
    position: fixed;
    background-color: #191919;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    transition-delay: 1s;
}

.loader-container-hidden {
    opacity: 0;
    visibility: hidden;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}

.d2 {
    animation-delay: 0.05s;
}

.d3 {
    animation-delay: 0.1s;
}

@keyframes loader {
    100% { transform: translateY(-30px);}
}


/* STRUCTURE CLASSES*/
.main-site {
    padding: 50px 10% 16px;
}

.center {
    margin-bottom: 25px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 18px;
    display: flex;
}

/* ROW 1 */
.row1 {
    height: 445px;
    border-radius: 18px;
    gap: 25px
}

/* BOX 1 LEFT */
.box1-left {
    z-index: 1;
    height: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.box1-left-content {
    display: flex;
    height: 100%;
}

.box1-left-img {
    height: 100%;
    width: 100%;
    background-image: url(../images/img1.jpg);
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.box1-left-img-overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.25s;
}

.box1-left-img-overlay:hover {
    opacity: 1;
}

.box1-left-img-overlay > * {
    transform: translateY(-20px);
    transition: transform 0.25s;
}

.box1-left-img-overlay:hover > * {
    transform: translateY(0px);
}

.box1-left-img-overlay-hidden {
    background: rgba(0, 0, 0, 0);
}

.about-me-text {
    position:absolute;
    background-color: yellow;
    margin-bottom: 17px;
    padding: 3px 12px;
}

.about-me-text-hidden {
    opacity: 0;
}

.box1-left-nav {
    height: 100%;
    width: 0%;
    transition: 0.4s;

    justify-content: center;
    align-items: center;
    display: flex;
}

.box1-left-nav-expanded {
    width: 100%;
}

.name-text {
    position:absolute;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
}

.nav-text {
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: white;

    width: 80%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

/* BOX 1 RIGHT*/
.box1-right
{   
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    float: left;
    overflow: hidden;
    border-radius: 18px;
}

.slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.slide.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 0.8s;
    transition-property: clip-path;
}

.slide img {
    display: flex;
    height: 100%;
    max-width: 100%;
    background-position: 50% 0;
    background-size: cover;
    overflow: hidden;
    opacity: 0.8;
}

.slider-nav {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slide-button {
    background-color: white;
    opacity: 0.5;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.slide-button.active {
    opacity: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

/* ROW 2 */
.row2 {
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 38px;
    height: 75px;
    background-color: black;
}

/* ROW 3 */
.row3 {
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    height: 650px;
    gap: 25px;
    border-radius: 18px;
}

.box3-child {
    height: 100%;
    background-color: black;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.box3-child-content {
    display: flex;
    height: 100%;
    width: 100%;
}

.box3-child-img-left {
    position: relative;
    overflow: hidden;
    background-image: url(../images/main-portfolio.jpg);
    height: 100%;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
}

.box3-child-img-right {
    position: relative;
    overflow: hidden;
    background-image: url(../images/main-aboutme.jpg);
    height: 100%;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
}

.box3-child-overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    transition: opacity 0.25s;
}

.box3-child-overlay:hover {
    opacity: 0.4;
}

.box3-text {
    font-family: Montserrat-Bold;
    color: white;
    font-size: 30px;

    position:absolute;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    opacity: 1;

    transition: 0.2s;
}

.box3-text-expanded {
    color: black;
    background-color: yellow;
}

.box3-nav {
    height: 100%;
    width: 0%;
    transition: 0.4s;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box3-nav-expanded {
    width: 100%;
}

/* BOX 4 */
.box4 {
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    height: 75px;
    gap: 25px;
    border-radius: 18px;
}

.box4-child {
    height: 100%;
    width: 50%;
    background-color: black;
    border-radius: 18px;
}

.box4-child-middle {
    height: 100%;
    line-height: 75px;
    text-align: center;
    width: 50%;

    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 18px;
}


.footer {
    font-family: Montserrat-Regular;
    color: #666666;
    margin-bottom: 15px;
    position: static;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

/* ANIMATIONS */
.fade-in {
    animation: MoveIn 3s;
}

@keyframes fade-in {
    from { transform: translateX(-10px);}
    to { transform: translateX(0px); }
}
